<%= form_with(model: @blog, local: true ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="blog_inputs">
    <%= form.text_field :title, placeholder:"title", id: "blog_title"%>
    <a href="#modal" class="modal">コメント</a>
    <div id="modal" style="display:none;">
      <%= form.text_area :content, placeholder:"comment", id: "blog_content" %>
      <div class="modal_close">決定</div>
    </div>
  </div>


  <%= form.submit "送信" %>
<% end %>
