<%= form_with(model: @blog, local: true ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="blog_inputs">
    <%= form.text_field :title, {id: "form_title"} %>

  </div>
  <%= form.text_area :content, {id: "form_content"} %>
  <%= form.submit "送信" %>
<% end %>
