
<%= form_with(model: @blog, local: true, id:"blog_form" ) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div id="view_blog" class="view_on">
    <ul id="blog_inputs">
      <li><%= f.text_field :title, placeholder:"title", id: "blog_title" %></li>
      <li><a href="#modal" class="modal_upload">upload</a></li>
    </ul>
    <%= f.fields_for :phrase do |phrase| %>
    <%= render 'phrase_fields', f: phrase %>
    <% end %>
  </div>
  <%= render 'track' %>
  <div class="play">再生</div>
  <div class="test_edit">再生データ変更テスト</div>

  <div id="modal_upload" style="display:none;">
    <%= f.text_area :content, placeholder:"comment", id: "blog_content" %>
    <ul class="btn_set">
      <li>
        <div class="modal_close">入力に戻る</div>
      </li>
      <li>
        <%= f.submit "フレーズ送信", class:"submit" %>
      </li>
    </ul>
  </div>

  <div id="modal_track_del" style="display:none;">
    <div class="track_del">
      <p>トラックを削除しますか？</p>
      <ul class="btn_set">
        <li>
          <div class="modal_close">cancel</div>
        </li>
        <li>
          <div class="del_accept">delete</div>
        </li>
      </ul>
    </div>
  </div>
  <div id="modal_duration" style="display:none;">
    <ul>
      <li>1/4(4n)</li>
      <li>1/2(2n)</li>
      <li>1(1m)</li>
      <li>2(2m)</li>
      <li>4(4m)</li>
    </ul>
  </div>
  <div id="modal_octave" style="display:none;">
    <ul>
      <li>octave -1</li>
      <li>octave 0</li>
      <li>octave 1</li>
      <li>octave 2</li>
      <li>octave 3</li>
      <li>octave 4</li>
      <li>octave 5</li>
      <li>octave 6</li>
      <li>octave 7</li>
      <li>octave 8</li>
      <li>octave 9</li>
    </ul>
  </div>

<% end %>
