
<%= form_with(model: @blog, local: true, id:"blog_form" ) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div id="view_blog" class="view_on">
    <ul id="blog_inputs">
      <li><%= f.text_field :title, placeholder:"title", id: "blog_title" %></li>
      <li><a href="#modal" class="modal">upload</a></li>
    </ul>
    <%= f.fields_for :phrase do |phrase| %>
    <%= render 'phrase_fields', f: phrase %>
    <% end %>
  </div>
  <%= render 'track' %>

  <div id="modal" style="display:none;">
    <%= f.text_area :content, placeholder:"comment", id: "blog_content" %>
    <ul class="btn_set">
      <li>
        <div class="modal_close">入力に戻る</div>
      </li>
      <li>
        <%= f.submit "フレーズ送信", class:"submit" %>
      </li>
    </ul>
  </div>

<% end %>
