<div id="top_image">
  <div class="inner_box">
    <div id="topimg_layer1" class="pallax_layer rellax" data-rellax-speed="3">
      <span class="main_word">インスピレーションが<br />鍵盤やフレットから自由になる。</span>
      <span class="sub_word">簡単にコード進行を作成することができる、作編曲支援アプリです。</span>
      <div id="login_button">
        <%= link_to "Sign Up", new_user_registration_path, id:"topimg_signup" %>
        <%= link_to "Log In", new_user_session_path, id:"topimg_signin" %>
      </div>
      <!-- <a id="test_account">テストアカウントでログイン</a> -->
      <%= link_to 'テストアカウントでログイン', users_guest_sign_in_path, method: :post, id:'test_account' %>
    </div>
    <div id="topimg_layer2" class="pallax_layer rellax" data-rellax-speed="1"><%= image_tag 'iphone_image.png', id:'img_iphone' %></div>
    <div id="topimg_layer3" class="pallax_layer rellax" data-rellax-speed="-7"><div id="topimg_logo">TONEADE</div>
  </div>
  </div>
</div>
<div id="top_concept" class="top_container">
  <h2>シンプル操作でコードメモ</h2>
  <ul>
    <li>
      <%= image_tag 'img_concept_01.png' %>
      <div>
        <h3>楽器が弾けなくても</h3>
        <p>全てのコードフォームを転回系まで覚えるのは大変ですよね。いちいちコードブックとにらめっこ、時間を浪費して大切なアイデアとモチベーションが薄れていく。そんな経験はありませんか？<br/>TONEADEはフリック操作でコードの転回系まで瞬時に再生！<br/>快適な操作でコードの響きをモニターできます。</p>
      </div>
    </li>
    <li>
      <%= image_tag 'img_concept_02.png' %>
      <div>
        <h3>コード進行を簡単シーケンス</h3>
        <p>セル入力スタイルのシーケンサーでコード進行を簡単作成！<br/>コードファンクションで色分けされた表示で、理論が苦手でも機能的なコード進行作成をサポート。<br/></p>
      </div>
    </li>
  </ul>
</div>
<div id="top_concept2" class="top_container">
  <h2>ブログ形式で投稿</h2>
  <p>作成したフレーズをブログ形式で投稿することができます。</p>
  <p>投稿されたフレーズは、構成が分かりやすく表示され、タップすることでコードをプレビューする事ができます。</p>
</div>
<div id="top_concept3" class="top_container">
  <p class="caption">TONEADEは現在αバージョンです。追加の機能は順次実装予定。</p>
  <h2>ブログ機能一覧</h2>
  <dl>
    <dt>記事作成</dt>
    <dd>
      <p class="icon icon-check-circle">登録 / 編集 / 削除</p>
      <p class="icon icon-check-circle">コメント投稿機能</p>
      <p class="icon icon-check-circle">Nice!機能</p>
      <p class="icon icon-check-circle">フォロー機能</p>
      <p>記事検索</p>
    </dd>
    <dt>プロフィール</dt>
    <dd>
      <p class="icon icon-check-circle">プロフィール作成 / 編集</p>
      <p>プロフィール画像投稿</p>
      <p>音色パッチ管理</p>
    </dd>
  </dl>
  <h2>フレーズ作成機能一覧</h2>
  <dl>
    <dt>対応スケール</dt>
    <dd>
      <p class="icon icon-check-circle">メジャースケール</p>
      <p class="icon icon-check-circle">ナチュラルマイナースケール</p>
      <p class="icon icon-check-circle">ハーモニックマイナースケール</p>
      <p class="icon icon-check-circle">メロディックマイナースケール</p>
    </dd>
    <dt>対応コード</dt>
    <dd>
      <p class="icon icon-check-circle">ダイアトニックコード</p>
      <p>ノンダイアトニックコード</p>
      <p>テンションコード</p>
      <p class="icon icon-check-circle">転回系</p>
      <p>オミットノートの指定</p>
      <p>ベースノートの指定</p>
    </dd>
    <dt>トラック種別</dt>
    <dd>
      <p class="icon icon-check-circle">コードトラック</p>
      <p>ベーストラック</p>
      <p>メロディトラック</p>
      <p>リズムトラック</p>
    </dd>
    <dt>トラック編集機能</dt>
    <dd>
      <p class="icon icon-check-circle">マルチトラック</p>
      <p class="icon icon-check-circle">BPM変更</p>
      <p class="icon icon-check-circle">小節数変更</p>
      <p class="icon icon-check-circle">オクターブ変更</p>
      <p class="icon icon-check-circle">音価変更</p>
      <p class="icon icon-check-circle">シーケンス入力</p>
      <p class="icon icon-check-circle">シーケンス削除</p>
      <p>音色編集</p>
      <p>音色パッチ、プリセット機能</p>
      <p>Nice!フレーズ転用</p>
    </dd>
    <dt>UI機能</dt>
    <dd>
      <p class="icon icon-check-circle">コード表示切り替え（ディグリー / 機能 / コード名）</p>
      <p>コード絞り込み</p>
      <p class="icon icon-check-circle">フリックローテーション</p>
      <p>コード進行サジェスト</p>
      <p>ピアノロール表示</p>
      <p>メロディ入力用UI</p>
      <p>リズム入力用UI</p>
    </dd>
  </dl>

</div>
