<div id="profile">
  <div class="prof_icon_M"></div>
  <div class="prof_name"><span><%= @user.name %></span></div>
  <ul class="prof_follows">
    <li><span class="data">134</span><span class="title">Followers</span></li>
    <li><span class="data">222,476</span><span class="title">Follows</span></li>
  </ul>
  <ul class="prof_status">
    <li>create <span><%= @blogs_num %></span> Phrases</li>
    <li>Nice's total <span><%= @nice_total %></span><span class="icon icon-heart-on"></span></li>
  </ul>
</div>
<div id="prof_comment">
  <h2>user comment</h2>
  <p>コメントああああああああああああああああああああああああ</p>
</div>
<% if user_signed_in? && @user.id != current_user.id %>
<%= link_to "Follow", blogs_path, class:'btn_follow' %>
<% end %>
<% if user_signed_in? && @user.id == current_user.id %>
  <div id="user_menu">
    <ul>
      <li><%= link_to "User Profile", edit_user_registration_path %></li>
      <li><a>Preset Patch</a></li>
      <li><a>Followed List</a></li>
      <li><a>Follower List</a></li>
      <li><%= link_to "User Phrase", phrases_user_path %></li>
      <li><%= link_to "User Nices", nices_user_path %></li>
      <li><%= link_to "Create Phrase", new_blog_path %></li>
    </ul>
  </div>
<% end %>
<div id="latest_blog" class="blog_list">
  <h2>最近作成したフレーズ</h2>
  <ul>
  <% @blogs10.each do |blog| %>
  <li>
    <a href="<%= blog_path(blog.id) %>" data-turbolinks="false">
      <div class="blog_date"><%= blog.created_at.strftime("%y/%m/%d %H:%M") %></div>

      <div class="blog_nices"><span>Nice!</span><span><%= blog.nices.size %></span><span class="icon icon-heart-on"></span></div>
      <div class="blog_title"><h3>"<%= blog.title %>"</h3></div>
      <div class="blog_bpm">♩=<%= blog.phrase.bpm %></div>
      <div class="blog_bar"><%= phrase_length blog %></div>
      <div class="blog_scale">
        <%= phrase_keyscale(blog) %>
      </div>
    </a>
  </li>
  <% end %>
  </ul>
  <%= link_to "Phrase全件", phrases_user_path(@user.id) %>
</div>
<div id="latest_nice" class="blog_list">
  <h2>最近Nice!したフレーズ</h2>
  <ul>
  <% @nices.each do |nice| %>
    <li>
      <a href="<%= blog_path(nice[:blog_id])%>" data-turbolinks="false">
        <div class="blog_head">
          <div class="blog_prof">
            <div class="prof_icon"></div>
            <span><%= User.find(nice.blog[:user_id])[:name] %></span>
          </div>
          <div class="blog_date"><%= nice.blog[:created_at].strftime('%Y/%m/%d') %></div>
        </div>
        <h3>"<%= nice.blog[:title] %>"</h3>
        <dl class="blog_status">
          <dd><%= phrase_keyscale(nice.blog) %></dd>
          <dd><span>♩=<%= nice.blog.phrase.bpm %></span></dd>
          <dd><span>Nice!</span><span><%= nice.blog.nices.size %></span><span class="icon icon-heart-on"></span></dd>
        </dl>
      </a>
    </li>
  <% end %>
  </ul>
</div>
