<div id="profile">
  <% if @user == current_user%>
    <div id="button_prof_edit"><%= link_to edit_user_registration_path do %><i class="fas fa-cog"></i><% end %></div>
  <% end %>
  <div id="prof_box">
    <div class="prof_icon_M"></div>
    <div class="prof_name"><%= @user.name %></div>
    <% if @user.comment %>
      <div class="prof_comment"><%= simple_format(@user.comment) %></div>
    <% end %>
  </div>
  <% if user_signed_in? && @user != current_user %>
    <% unless current_user.following?(@user) %>
      <%= form_with(model: current_user.active_relationships.build(followed_id: @user.id),html:{name:'follow'}) do |f| %>
        <%= f.hidden_field :followed_id %>
        <%= f.hidden_field :return, :value => user_path(@user.id) %>
        <div class="button_follow"><a href="javascript:follow.submit()"><i class="fas fa-plus-circle"></i>Follow</a></div>
      <% end %>
    <% else %>
      <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id), method: :delete,html:{name:'unfollow'} ) do |f| %>
        <%= f.hidden_field :return, :value => user_path(@user.id) %>
        <div class="button_follow"><a href="javascript:unfollow.submit()"><i class="fas fa-minus-circle"></i>Unfollow</a></div>
      <% end %>
    <% end %>

  <% elsif user_signed_in? && @user == current_user %>
    <div class="button_follow"><%= link_to new_blog_path do %>New Phrase<% end %></div>
  <% end %>
  <ul class="prof_status">
    <li>
      <%= link_to phrases_user_path do %>
        <span class="title">Phrases</span>
        <span class="data"><%= @blogs_num %></span>
      <% end %>
    </li>
    <li>
      <%= link_to follow_user_path do %>
        <span class="title">Following</span>
        <span class="data"><%= @user.active_relationships.size %></span>
      <% end %>
    </li>
    <li>
      <%= link_to follow_user_path do %>
        <span class="title">Followers</span>
        <span class="data"><%= @user.passive_relationships.size %></span>
      <% end %>
    </li>
  </ul>
</div>

<% if user_signed_in? && @user.id == current_user.id %>
  <div id="user_menu">
    <ul>
      <li>
        <%= link_to phrases_user_path do %>
          <i class="menu_icon icon icon-beat-8"></i>
          <span>Phreses</span>
          <span class="menu_num"><%= @blogs_num %></span>
          <i class="icon icon-angle-right"></i>
        <% end %>
      </li>
      <li>
        <%= link_to nices_user_path do %>
          <i class="menu_icon icon icon-heart-on"></i>
          <span>Nices</span>
          <span class="menu_num"><%= @nices.size %></span>
          <i class="icon icon-angle-right"></i>
        <% end %>
      </li>
      <li>
        <%= link_to new_blog_path do %>
          <i class="menu_icon icon icon-pencil"></i>
          <span>New Phrase</span>
          <i class="icon icon-angle-right"></i>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
<%= render partial: 'shared/phrase_list', locals: { list: @blogs_all.limit(10), list_id:'latest_blog', title: '最近作成したフレーズ' } %>
<%= render partial: 'shared/phrase_list', locals: { list: @nices.limit(10), list_id:'latest_blog', title: '最近Nice!したフレーズ' } %>
