<div id="profile">
  <div class="prof_icon_M"></div>
  <div class="prof_name"><span><%= @user.name %></span></div>
  <ul class="prof_follows">
    <li><span class="data">134</span><span class="title">Followers</span></li>
    <li><span class="data">222,476</span><span class="title">Follows</span></li>
  </ul>
  <ul class="prof_status">
    <li>create <span><%= @blogs_num %></span> Phrases</li>
    <li>Nice's total <span><%= @nice_total %></span><span class="icon icon-heart-on"></span></li>
  </ul>
</div>
<div id="prof_comment">
  <h2>user comment</h2>
  <p>コメントああああああああああああああああああああああああ</p>
</div>
<% if @user.id != current_user.id %>
<%= link_to "Follow", blogs_path, class:'btn_follow' %>
<% end %>
<% if @user.id == current_user.id %>
  <div id="user_menu">
    <ul>
      <li><%= link_to "User Profile", edit_user_registration_path %></li>
      <li><a>Preset Patch</a></li>
      <li><a>Followed List</a></li>
      <li><a>Follower List</a></li>
      <li><%= link_to "User Phrase", phrases_user_path %></li>
      <li><%= link_to "User Nices", nices_user_path %></li>
      <li><%= link_to "Create Phrase", new_blog_path %></li>
    </ul>
  </div>
<% end %>
<div id="latest_blog">
  <h2>最近のフレーズ</h2>
  <ul>
  <% @blogs10.each do |blog| %>
  <li>
    <a href="<%= blog_path(blog.id) %>">
      <div class="blog_date"><%= blog.created_at.strftime("%y/%m/%d %H:%M") %></div>

      <div class="blog_nices"><span>Nice!</span><span><%= blog.nices.size %></span><span class="icon icon-heart-on"></span></div>
      <div class="blog_title">Title : <%= blog.title %></div>
      <div class="blog_bpm">♩=<%= blog.phrase.bpm %></div>
      <div class="blog_bar"><%= phrase_length blog %></div>
      <div class="blog_scale">
        <%= @keys.find{ |item| item[:id] == blog.phrase.key }[:name] %>
        <%= @scales.find{ |item| item[:id] == blog.phrase.scale }[:name] %>
      </div>

    </a>
  </li>
  <% end %>
  </ul>
  <%= link_to "Phrase全件", phrases_user_path %>
</div>
